.DS_Store
.bin
.git
.gitignore
.bundleignore
.bundle
.byebug_history
.rspec
tmp
log
test
config/deploy
public/packs
public/images
public/packs-test
node_modules
yarn-error.log
coverage/
/config/master.key
.env
.ruby-version
.ruby-gemset

*.psql